<ion-content fullscreen>

  <div class="container">

    <div class="card">

      <h1>
        Nova Senha
      </h1>

      <p>
        Digite sua nova senha abaixo.
      </p>

      <form [formGroup]="form">

        <!-- SENHA -->

        <div class="input-group">

          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Nova senha"
            formControlName="password" />

          <button
            type="button"
            class="toggle-btn"
            [attr.aria-label]="showPassword ? 'Ocultar senha' : 'Mostrar senha'"
            (click)="togglePassword()">

            <app-icon [name]="showPassword ? 'eye-off' : 'eye'"></app-icon>

          </button>

        </div>

        <!-- REPETIR -->

        <div class="input-group">

          <input
            [type]="showRepeatPassword ? 'text' : 'password'"
            placeholder="Confirmar senha"
            formControlName="repeatPassword" />

          <button
            type="button"
            class="toggle-btn"
            [attr.aria-label]="showRepeatPassword ? 'Ocultar senha' : 'Mostrar senha'"
            (click)="toggleRepeatPassword()">

            <app-icon [name]="showRepeatPassword ? 'eye-off' : 'eye'"></app-icon>

          </button>

        </div>

        <div
          class="error"
          *ngIf="errorMessage">

          {{ errorMessage }}

        </div>

        <button
          class="submit-btn"
          type="button"
          (click)="resetPassword()"
          [disabled]="loading">

          {{
            loading
            ? 'Alterando...'
            : 'Alterar Senha'
          }}

        </button>

      </form>

    </div>

  </div>

</ion-content>
